header {
    text-align : center;
    background-color: rgb(74, 245, 245);
    padding : 10px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(162, 252, 159);
    gap: 20px;
    padding: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main {
    text-align : center;
    margin: 20vh;
}